@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);
@font-face {
  font-family: 'Engravers MT Regular';
  src: url("../fonts/engraversmtregular-webfont.eot");
  src: url("../fonts/engraversmtregular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/engraversmtregular-webfont.woff") format("woff"), url("../fonts/engraversmtregular-webfont.ttf") format("truetype"), url("../fonts/engraversmtregular-webfont.svg#engraversmtregular-webfont") format("svg"); }
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
main, footer, section {
  padding: 4.72973% 0;
  box-shadow: inset 1px 1px 10px rgba(55, 52, 30, 0.15); }

section {
  width: 90%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%; }

figure {
  max-height: 600px;
  overflow: hidden; }

img, table, figure, iframe, video, audio, nav {
  width: 100%; }

nav {
  height: 138px;
  position: fixed;
  background: #f4eede;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.45);
  border: 10px solid;
  border-top-color: #37341e;
  border-bottom-color: #b79d36;
  z-index: 100; }
  nav h1 {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    box-shadow: 2px 2px 14px rgba(183, 157, 54, 0.35);
    margin: 0 auto;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: url("../img/design/rubicon-harrisburg.png") no-repeat center/160px 160px #f4eede;
    position: relative;
    top: -10px;
    background-size: 160px 160px; }
  nav a::before {
    content: '';
    width: 65px;
    height: 20px;
    background-color: #b79d36;
    display: block;
    position: relative;
    margin: -10px auto 2px; }

main p, footer p {
  width: 49.32432%;
  margin: 0 auto; }

section > div {
  width: 29.72973%;
  float: left;
  display: block;
  margin: 0 1.68919% 6.81818%; }

main, section:last-of-type,
section:first-of-type, footer {
  background: url(../img/design/bg-white.png) top right;
  background-attachment: fixed; }

section:first-of-type, footer {
  background-image: url(../img/design/bg-gold.png); }

html {
  font-size: 16px;
  font-family: 'Times New Roman', serif;
  line-height: 1; }

main, footer, h1, h2, h3 {
  text-align: center; }

h1, h2, h3 {
  text-transform: uppercase; }

h1 {
  font-family: "Engravers MT Regular", Helvetica, Times New Roman, serif;
  font-size: 1.875rem; }
  h1:after {
    content: url(../img/design/scroll.png);
    display: block;
    margin-top: 0.3125rem; }

h2 {
  font-size: 1.25rem;
  font-family: "Pathway Gothic One", Helvetica, sans-serif; }
  h2:before {
    content: "";
    width: 100%;
    border-top: 2px solid #b79d36;
    display: inline-block;
    top: 22px;
    position: relative; }
  h2 span {
    background: url(../img/design/bg-gold.png);
    position: relative;
    top: 0em;
    margin: 0 auto;
    padding: 5px; }
  h2:only-of-type span {
    background: url(../img/design/bg-white.png); }

h3 {
  font-family: "Engravers MT Regular", Helvetica, Times New Roman, serif;
  text-align: left; }

@media only screen and (max-width: 1440px) {
  nav {
    height: 74px;
    border-width: 6px 0; }
    nav h1 {
      background-size: 110px 110px;
      border-radius: 50%;
      height: 110px;
      width: 109px; }
    nav a:before {
      width: 43px;
      margin: -6px auto 0px; } }
